# ===================================================================
# solstice deployment requirements file
# ===================================================================
solstice-config==0.0.4
solstice==0.0.9
solstice-launcher==0.0.2
artellapipe==0.0.15
artellapipe-launcher==0.0.1
artellapipe-tools-welcome==0.0.5
